// Place all the styles related to the preview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#preview {
  img {
    animation-name: fadeInOut;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }
}
